html, body {
  height: 100%;
  transition: background-color .4s ease;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

#root {
  min-height: 100%;
}

.ant-layout {
  height: 100%;
  background-color: transparent;
}

.white {
  background-color: #fff;
}

.sorry {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 32px;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 9999;
  font-size: 14px;
  font-family: sans-serif;
  text-align: center;
}

@media (max-width: 1199px) {
  .sorry {
    display: flex !important;
  }
  body {
    max-width: 100%;
    overflow: hidden;
  }
}
