<html>
  <head>
    <meta charset="utf-8" />
    <title>TimeTimeTime</title>
    <!-- favicon -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/landing-assets/images/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/landing-assets/images/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/landing-assets/images/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/landing-assets/images/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/landing-assets/images/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/landing-assets/images/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/landing-assets/images/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/landing-assets/images/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/landing-assets/images/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/landing-assets/images/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/landing-assets/images/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/landing-assets/images/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/landing-assets/images/favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="TimeTimeTime"/>
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="msapplication-TileImage" content="/landing-assets/images/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/landing-assets/images/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/landing-assets/images/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/landing-assets/images/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/landing-assets/images/favicon/mstile-310x310.png" />
    <!-- /favicon -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    <script src="/bundle.js?v=<%=webpack.hash%>" defer></script>
  </head>
  <body>
    <div id="loading">
      <p style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); font-family: monospace;">
        <span id="init">/</span> please wait...
      </p>
      <script>
        function pageLoading() {
          var loader = document.getElementById('init');
          var values = ['/', '-', '\\', '|'];
          var currentValue = 0;
          window.pageLoadingAnimation = setInterval(function() {
            currentValue++;
            if (currentValue > 3) {
              currentValue = 0;
            }
            loader.innerHTML = values[currentValue];
          }, 100);
        };
        pageLoading();
      </script>
    </div>
    <div id="root"></div>
  </body>
</html>
